* {
	margin: 0;
	padding: 0;
}
.hero {
	background-color: aqua;
	height: 80vh;
	width: 100vw;
	background-image: url(Hero_ImageAsset%205.svg);
	background-position: 0 -100px 0 0;
	background-size: cover;
}

.plai_along {
	background-color: #14163d;
	height: 500px;
	text-align: center;
	color: white;
}

.plai_along img {
	height: 200px;
	margin-top: 30%;
}

.plai_fromfile {
	background-color: #f7941d;
	height: 500px;
	text-align: center;
	color: white;
}

.plai_fromfile img{
	height: 250px;
	margin-top: 20%;
}


