attrs==17.2.0
autobahn==17.6.2
Automat==0.6.0
click==6.7
constantly==15.1.0
enum-compat==0.0.2
Flask==0.12.2
Flask-SocketIO==2.9.0
Flask-Cors==3.0.3
gevent==1.2.1
gevent-websocket==0.10.1
greenlet==0.4.12
hyperlink==17.2.1
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-engineio==1.7.0
python-socketio==1.7.6
redis==2.10.5
six==1.10.0
Twisted==17.5.0
txaio==2.8.0
Werkzeug==0.12.2
zope.interface==4.4.2
gunicorn==19.7.1
